* {
    margin: 0;
    padding: 0;
    font-family: 'Gordita', sans-serif;
    box-sizing: border-box;
}

.activityOne,
.activityTwo,
.activityThree {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.activity {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.activityHeading {
    font-size: 20px;
    line-height: 34.2px;
    font-weight: 700;
}

.activityDescription {
    font-size: 15px;
    line-height: 33px;
    font-weight: 400;
    opacity: 0.8;
    margin: 0 auto;
}

.starIcon {
    border-radius: 100%;
    padding: 10px;
    color: white;
    background-color: black;
}

.solution {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.solutionHeading {
    font-size: 72px;
    line-height: 88px;
    font-weight: 700;
}

.chooseUs {
    color: grey;
    opacity: 0.6;
    font-size: 18px;
    line-height: 0px;
}

.solutionDescription {
    font-size: 36px;
    line-height: 56px;
    padding: 20px;
    margin-top: 120px;
}

.idea {
    color: #4dadec;
    border-bottom: 2px solid #4dadec;
}

.cpiot {
    color: #4dadec;
    border-bottom: 2px solid #4dadec;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.accordion {
    width: 50%;
}

.bc {
    /* background: -webkit-linear-gradient(154.02deg, #7E0FD6 -30.24%, #0CBCFC 115.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    line-height: 88px; */
}

.ai {
    /* background: -webkit-linear-gradient(154.02deg, #7E0FD6 -30.24%, #0CBCFC 115.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    line-height: 88px; */
}

.iot {
    position: absolute;
    height: 70%;
    right: 0;
    bottom: 0;
}

.aiNiot {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.milestone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.milestone h1 {
    font-weight: 700;
}

.successStory {
    margin-top: 100px;
    margin-bottom: 100px;
}

.successHeader {
    padding-bottom: 50px;
}

.successHeading {
    font-size: 72px;
    line-height: 90.6px;
    font-weight: 700;
}

.check {
    color: white;
    height: 450px;
    position: relative;
}

.img {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.358835) 50.1%, rgba(0, 0, 0, 0.615498) 100%), url("./assets/landing.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.textContent {
    width: 95%;
    margin: 5px auto;
    /* transition: all 5s ease; */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.cardHeader {
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
}

.card-text {
    line-height: 35px;
}

.card:hover .textContent {
    background: linear-gradient(156.86deg, #0F64D6 -21.76%, #0CBCFC 107.41%);
    width: 95%;
    margin: 5px auto;
    color: white;
}

.chooseCP {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-button {
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

.blur {
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: #00000093;
}

.video-modal {
    width: 100%;
    height: 95vh;
    padding: 5%;
    /* background-color: #000000; */
}

.playIcon {
    color: white;
    background-color: black;
    border-radius: 100%;
    padding: 15px;
}

.query {
    font-size: 72px;
    line-height: 90px;
    font-weight: 700;
}

.optionOne,
.optionTwo,
.optionThree {
    display: flex;
    align-items: center;
}

.image {
    width: 50%;
}

.image img {
    width: 100%;
    float: right;
    padding-bottom: 80px;
}

.coreTeam {
    padding-top: 20px;
    margin-bottom: 100px;
}

.coreMembers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coreMembers .coreMemberOne img {
    width: 100%;
}

.coreMembers .coreMemberTwo img {
    width: 100%;
}

.coreMembers .coreMemberThree img {
    width: 100%;
}

.coreHeading {
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
}

.coreMembers h6 {
    font-weight: 700;
}

.coreMembers p {
    opacity: 0.6;
}

.skillElite {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.joinTeam {
    background-color: black;
    color: white;
    padding: 100px;
}

.eliteHeading {
    font-size: 68px;
    line-height: 80px;
    font-weight: 700;
}

.influence p {
    font-size: 24px;
    line-height: 42px;
}

.feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed {
    font-size: 36px;
    line-height: 65px;
    /* width: 70%; */
}

.comment {
    display: flex;
}

.feedbackImg img {
    height: 70vh;
}

.feedbackContainer {
    width: 50%;
}

.feedIcon {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 100%;
}

.cpPartners {
    background-color: #F9F9F9;
    margin-top: 100px;
    padding: 100px;
}

.ourPartner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partnerHeading {
    font-size: 72px;
    line-height: 90.6px;
    font-weight: 700;
}

.cloud,
.blockchainPartner {
    font-size: 16px;
    line-height: 22.8px;
    opacity: 0.6;
}

.footer {
    padding: 100px;
}

.input {
    background-color: #EEEEEE;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
}

.input input {
    border: none;
    background: transparent;
}

.brand {
    display: flex;
}

.brand img {
    height: 30px;
    align-items: center;
}

.brandName {
    background: -webkit-linear-gradient(254.61deg, #0DC3FF -941.02%, #09A1F1 -663.36%, #047AE1 -299.77%, #0162D8 -8.99%, #0059D4 170.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.footerHead {
    opacity: 0.6;
}

.people {
    color: #4dadec;
    border-bottom: 2px solid #4dadec;
}

.emailBasis {
    opacity: 0.6;
    margin-top: 10px;
}

.socials {
    float: right;
}

.footerEnd {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

.consult {
    width: 80%;
    margin: 0 auto;
}

.consultHeading {
    font-size: 96px;
    line-height: 110px;
    font-weight: 700;
}

.consultDesc {
    font-size: 24px;
    line-height: 42px;
}

.socialLinks {
    position: fixed;
    display: flex;
    transform: rotate(-90deg);
    left: -1%;
    top: 50%;
    z-index: 1;
}

.scrollPoint {
    position: fixed;
    display: flex;
    transform: rotate(-90deg);
    top: 50%;
    right: 2%;
    z-index: 1;
}

.chat {
    position: fixed;
    top: 88%;
    right: 3%
}

.socialLinks a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
}

.bannerImg img {
    width: 70%;
    float: right;
}

.frame {
    border-radius: 100%;
}

.search-bar {
    width: 300px;
    border-bottom: 1.5px solid #000;
    display: flex;
    /* align-items: center; */
    padding-bottom: 4px;
    margin-right: 100px;
}

.search-icon {
    font-size: 12px;
    width: 14.67px;
    height: 14.67px;
}

.login {
    color: #000;
    font-style: Medium;
    font-size: 18px;
    vertical-align: Top;
}

.nav-list {
    display: flex;
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.65px;
    list-style-type: none;
    margin-left: 25px;
}

.nav-list a {
    text-decoration: none;
    color: #000;
}

.login-icon {
    width: 19px;
    height: 19px;
}

.login {
    font-size: 18px;
}

.login-box {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.bar-box {
    width: 31px;
}

.logo-box img {
    margin-left: 50%;
    width: 40px;
    margin-bottom: 10px;
}

.nav-bar {
    display: flex;
}

.right-box {
    display: flex;
    align-items: center;
}

.left-sec {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.ccc {
    display: flex;
    align-items: center;
    width: 1240px;
}

.nav-list li {
    padding-right: 24px;
}

.rotate {
    transform: rotate(-90deg);
}

@media(max-width: 668px) {
    .consultHeading {
        font-size: 60px;
        line-height: 80px;
    }
    .banner {
        flex-direction: column;
        margin-bottom: 400px;
    }
    .socialLinks {
        left: -10%;
    }
    .bannerImg img {
        width: 100%;
        float: none;
    }
    .activityOne,
    .activityTwo,
    .activityThree {
        width: 80%;
    }
    .activity {
        flex-direction: column;
    }
    .solutionDescription {
        margin-top: 20px;
    }
    .solution {
        flex-direction: column;
    }
    .solutionHeading {
        font-size: 60px;
    }
    .solutionHeading,
    .solutionDescription {
        width: 80%;
        margin: 0 auto;
    }
    .technologies {
        flex-direction: column;
    }
    .accordion {
        margin-top: 50px;
        width: 80%;
    }
    .milestone {
        flex-direction: column;
    }
    .successHeader {
        width: 80%;
        margin: 0 auto;
    }
    .chooseCP {
        flex-direction: column;
    }
    .query {
        font-size: 60px;
    }
    .successHeading {
        font-size: 60px;
    }
    .optionContent {
        width: 80%;
        margin: 0 auto;
    }
    .image {
        width: 100%;
    }
    .coreMembers {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .coreHeading {
        font-size: 60px;
        width: 80%;
        margin: 0 auto;
    }
    .feedback {
        flex-direction: column;
    }
    .feedbackImg img {
        width: 100%;
    }
    .partners {
        flex-wrap: wrap;
    }
    .partnerHeading {
        font-size: 60px;
    }
    .ourPartner {
        flex-direction: column;
    }
    .ourPartner img {
        margin-bottom: 20px;
    }
    .skillElite {
        flex-wrap: wrap;
    }
    .footer .col-md-3 {
        width: 80%;
        margin: 0 auto;
    }
    .input {
        flex-wrap: wrap;
    }
    .input input {
        margin-bottom: 5px;
        padding: 5px;
    }
    .input button {
        margin-left: 10px;
        padding: 5px;
    }
    .footerEnd {
        flex-direction: column;
    }
    .input {
        justify-content: space-between;
        width: 80%;
    }
}